<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ShopHive{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2LFb1OHDfCBEuORyzS9BVcNPzthnJwwu5G7q6Sgx66bqmPfohOjI2" crossorigin="anonymous">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('home_bp.home') }}">Home</a></li>
                <li><a href="{{ url_for('new_product_bp.add_product') }}">Add Product</a></li>
                <li><a href="{{ url_for('user_bp.register') }}">Register</a></li>
                <li><a href="{{ url_for('user_bp.login') }}">Login</a></li>
                <li><a href="{{ url_for('cart_bp.cart') }}">Cart {% if cart_count > 0 %}({{ cart_count }}){% endif %}</a></li>
                <li><a href="{{ url_for('checkout_bp.checkout') }}">Checkout</a></li>
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('user_bp.profile') }}">Profile</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 ShopHive</p>
    </footer>
</body>

</html>
